{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ph_username}}" name="username" required>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="{{ph_pw}}" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{{ph_login}}" class="btn float-right login_btn btn-success">
                    </div>
                    <div class="form-group">
                        <a class="btn float-left login_btn btn-success" href="{% url 'yirmi:register' %}" role="button" >Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}