html, body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
 
}
.container {
    
    margin-top: 100px;
    height: 100%;
    align-content: center;
}
.card {
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body {
    align-content: center;
    
    margin-top: 25px;    
}
.form_group {
    background-color: red;
    margin: auto;
    align-content: center;
}
.input-group {
    margin-top: 50px
}
.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
.textarea {
    height: 1000px;
}
.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    width: 150px;
    margin-top: 30px;
}
.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }